<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="./img/bg1.png" type="image/x-icon" />
      <title>File Successfully Submitted</title>
      <!-- custom CSS -->
      <link rel="stylesheet" href="./css/status.css" />
   </head>
   <body>
      <div id="container">
         <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
               <div class="eye"></div>
               <div class="eye right"></div>
               <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message">
               <h1 style="font-size: 16px" class="alert">Success!</h1>
               <p style="font-size: 12px">
                  Your file has been submitted successfully.
               </p>
            </div>
            <button class="button-box">
               <h1 class="green">
                  <a
                     style="text-decoration: none; color: #4ec07d"
                     href="/"
                     >Continue</a
                  >
               </h1>
            </button>
         </div>
      </div>
   </body>
</html>
